<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mappers.CustomerActivityMapper">
<delete id="delete">
delete from customer_activities where id=#{id}
</delete>
<update id="update">
update customer_activities set activity_date=#{date},
description=#{description},place=#{place},title=#{title},
customer_id =#{customer.id} 
where id=#{id}
</update>

	<select id="getcustomerActivity" resultType="com.atguigu.crm.entity.CustomerActivity">
		SELECT a.id,a.activity_date as "date",
		a.description,a.place,a.title,a.customer_id as "customer.id"
		FROM customer_activities a
		WHERE a.id = #{customerid}
	</select>


	<insert id="save">
		insert into customer_activities(id,activity_date ,
		description , place, title,customer_id)
		values(crm_seq.nextval,#{date},#{description},#{place},#{title},#{customer.id})
	</insert>


	<select id="getContent" resultType="com.atguigu.crm.entity.CustomerActivity">
		<!-- 编号 客户名称 概要 联系人 联系人电话 创建时间 -->
		SELECT *
		FROM(
		SELECT rownum rn, a.id,a.activity_date as "date",
		a.description,a.place,a.title,c.name as "customer.name",a.customer_id
		as "customer.id"
		FROM customer_activities a
		LEFT OUTER JOIN customers c
		on customer_id=c.id
		WHERE a.customer_id = #{customerid}
		ORDER BY id DESC
		)
		<![CDATA[
		WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>

	<select id="getTotalElements" resultType="long">
		SELECT count(id) FROM customer_activities where customer_id=#{id}
	</select>

</mapper>