<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.crm.mappers.ProductMapper">
	<update id="update">
		update products set batch=#{batch},memo=#{memo},name=#{name},
		price=#{price},type=#{type},unit=#{unit}
		WHERE id = #{id}
	</update>
	<select id="get" resultType="com.atguigu.crm.entity.Product">
		SELECT id, batch , memo , name,
		price,type,unit
		FROM products
		WHERE
		id=#{id}
	</select>
	<insert id="delete">
		DELETE FROM products WHERE id = #{id}
	</insert>
	<insert id="save">
		INSERT INTO products(id,batch , memo , name,
		price,type,unit)
		VALUES(crm_seq.nextval,#{batch},#{memo},#{name},#{price},#{type},#{unit})
	</insert>

	<select id="getContent" resultType="com.atguigu.crm.entity.Product">
		SELECT *
		FROM(
		SELECT rownum rn, id, batch , memo , name,
		price,type,unit
		FROM products
		ORDER BY id DESC
		)
		<![CDATA[
		WHERE rn >= #{firstIndex} AND rn < #{endIndex}
		]]>
	</select>
	<select id="getTotalElements" resultType="long">
		SELECT count(id)
		FROM
		products
	</select>

</mapper>